* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {
	margin: 0.5em 0;
}

li,dd {
	margin-left: 1em;
}

fieldset {
	padding: .5em;
}

body {
	font-size: 76%;
	font-family: Lucida Grande, Verdana, Sans-serif;
	color: #4F5155;
	line-height: 1.3;
	text-align: center; /*center hack*/
	background-color: #fff;
}

h1,.componentheading {
	font-size: 1.7em;
}

h2,.contentheading {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1.0em;
	font-weight: bold;
	cursor: pointer;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

/*//JOGO///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#wrap {
	width: 960px;
	margin: 10px auto; /*top right bottom left*/ /*center hack*/
	text-align: left; /*center hack*/
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #D0D0D0;
	overflow: hidden;
}

#header {
	height: 47px;
	width: 960px;
}

#title {
	color: #444;
	float: left;
	overflow: hidden;
	padding: 0px 10px; /*top right bottom left*/
	width: 225px;
}

#menu_content {
	background-color: #000;
	border-radius: 7px 8px 0px 7px;
	float: left;
	font-weight: bold;
	overflow: hidden;
	/*top right bottom left*/
	padding: 0px 10px;
	width: 695px;
}

/*//MENU//////////////////////////////////////////*/
ul#menu {
	list-style: none;
	float: right;
	margin: 10px 0px;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	color: #FFF;
	display: block;
	font-size: 1.7em;
	float: left;
	padding-left: 25px;
	text-decoration: none;
}

ul#menu li.active a,ul#menu li a:hover {
	color: #007cc6;
}

#content {
	overflow: hidden;
	width: 940px;
	background-color: #f9f9f9;
	color: #002166;
	display: block;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

#right_content {
	border: 1px solid #000;
	float: left;
	margin-left: 10px;
	padding: 0px 5px;
	width: 276px;
}

#footer {
	clear: both;
	font: 1.0em Arial, Helvetica, sans-serif;
	padding: 3px 0px 3px 0px;
	width: 960px;
	overflow: hidden;
	text-align: center;
	color: #4F5155;
	background-color: #f6d6d6;
	border-radius: 0px 0px 8px 8px;
}

/*//LOGIN///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#login_wrap {
	width: 480px;
	padding: 0px;
	margin: 100px auto 0px auto; /*top right bottom left*/
	color: #4F5155;
	text-align: left; /*center hack*/
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #D0D0D0;
	overflow: hidden;
}

#login {
	float: left;
	overflow: hidden;
	width: 340px;
	padding: 25px 0px;
	text-align: right;
}

#login p,#create p {
	padding: 5px 0px;
}

#login_ok {
	float: left;
	overflow: hidden;
	margin: 34px 15px 34px 15px;
	width: 60px;
	height: 60px;
	background-image: url('../images/structure/ok.png');
	border-radius: 30px;
}

#login_ok_ {
	float: left;
	overflow: hidden;
	margin: 34px 15px 34px 15px;
	width: 60px;
	height: 60px;
	background-image: url('../images/structure/ok_.png');
	cursor: pointer;
	border-radius: 30px;
}

/*//SERVER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#server {
	float: right;
	overflow: hidden;
	width: 470px;
	padding: 5px;
}

/*//RESOURCE////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#resources {
	font: 1.1em Courier new;
	padding: 0px 12px; /*top right bottom left*/
	text-align: center;
	height: 25px;
	background-color: #f6d6d6;
}

.resource {
	float: left;
	margin: 2px 5px 2px 5px;
	border-bottom: 1px solid #4F5155;
	overflow: hidden;
}

.res_number {
	display: inline-block;
	width: 40px;
	text-align: right;
}

#create {
	float: left;
	overflow: hidden;
	margin-left: 70px;
	padding: 10px;
	width: 260px;
	text-align: right;
}

input[type="submit"],input[type="button"] {
	padding: 1px 6px;
}

#create .size05 {
	padding: 0px;
	font-size: 10px;
}